torch
torchvision
torchaudio
monai[all]         
matplotlib
tqdm                
natsort             
nibabel             

fastapi             
uvicorn[standard]   
python-multipart    
requests            

sqlmodel            
psycopg2-binary     

streamlit           
watchdog            
